website/website/__pycache__/*
website/website/*.pyc
website/db.sqlite3
website/frontend/dist/*
website/frontend/node_modules/*

website/frontend/package-lock.json
website/backend/__pycache__/*
website/backend/migrations/__pycache__/*